page-home {
 
 /* .scroll-content {
    background-color: map-get($colors, secondary);
    display: flex !important;
    justify-content: center;
  }
 
  ion-list {
    width: 90%;
  }

  ion-navbar{
    text-align: center;
  }
 
  /*ion-item {
    border: none !important;
    font-weight: bold !important;
  } */
 
}
